/.vscode
/Polynomial.cpp
/anagram.c
/buddyString.cpp
/demo
/demo.c
/demo.cpp
/demo.dSYM
/demo.py
/findDupBitwise.cpp
/findDuplicate
/findDuplicate.cpp
/findDuplicate.dSYM
/findMissingElements.cpp
/linkedList.cpp
/permut2.cpp
/permut_imp.cpp
/stringPailindrome.c
/tempCodeRunnerFile.cpp
/upperDiag(modifiable).cpp